div {
  margin: 0px auto;
  width: 900px;
}

.left {
  width: 250px;
  float:left;
  margin: 10px;
}

.middle {
  width: 250px;
  float:left;
  margin: 10px;
}

.right {
  width: 250px;
  float:left;
  margin: 10px;
}