<script src="lightbox.js"></script>
<link rel="stylesheet" type="text/css" href="lightbox.css">

<h1>gallery</h1>

<center><h3> view photos by neighborhood </h3></center><br>

<form method="POST" action="/neighborhood" class="hoodform">
  <select name="neighborhood">
    <option value="Albany Park">Albany Park</option>
    <option value="Andersonville">Andersonville</option>
    <option value="Avondale">Avondale</option>
    <option value="Beverly">Beverly</option>
    <option value="Boystown">Boystown</option>
    <option value="Bridgeport">Bridgeport</option>
    <option value="Bronzeville">Bronzville</option>
    <option value="Chinatown">Chinatown</option>
    <option value="Edgewater">Edgewater</option>
    <option value="Gold Coast">Gold Coast</option>
    <option value="Humboldt Park">Humboldt Park</option>
    <option value="Hyde Park">Hyde Park</option>
    <option value="Irving Park">Irving Park</option>
    <option value="Jefferson Park">Jefferson Park</option>
    <option value="Kenwood">Kenwood</option>
    <option value="Lakeview">Lakeview</option>
    <option value="Lincoln Park">Lincoln Park</option>
    <option value="Lincoln Square">Lincoln Square</option>
    <option value="Little Italy and University Village">Little Italy and University Village</option>
    <option value="Little Village">Little Village</option>
    <option value="Logan Square">Logan Square</option>
    <option value="Loop">Loop</option>
    <option value="Magnificient Mile">Magnificient Mile</option>
    <option value="North Center">North Center</option>
    <option value="Old Town">Old Town</option>
    <option value="Pilsen">Pilsen</option>
    <option value="Portage Park">Portage Park</option>
    <option value="Pullman">Pullman</option>
    <option value="River North">River North</option>
    <option value="Rogers Park">Rogers Park</option>
    <option value="Roscoe Village">Roscoe Village</option>
    <option value="South Loop">South Loop</option>
    <option value="South Shore">South Shore</option>
    <option value="Streeterville">Streeterville</option>
    <option value="Uptown">Uptown</option>
    <option value="West Loop">West Loop</option>
    <option value="West Ridge">West Ridge</option>
    <option value="West Town">West Town</option>
    <option value="Wicker Park/Bucktown">Wicker Park/Bucktown</option>
    <option value="Wrigleyville">Wrigleyville</option>
  </select><br><br>
  <input value="submit" type="submit">
</form>

