<center>

<h1>Sign In</h1>
<form method ="POST" action="/login">
  <label for="username">Username</label><br>
  <input type="text" name="username"><br>
  <label for="password">Password</label><br>
  <input type="password" name="password"><br><br>
  <input type="submit">
</form>

<h2>Don't have a login? <a href="/signup">Sign Up!</a></h2>

</center>
