<center>
  <h1>Sign Up</h1>
<div class = "signup">
<form method ="POST" action="/signup">
  <label for="fname">First Name</label><br>
  <input type="text" name="fname"><br>
  <label for="lname">Last Name</label><br>
  <input type="text" name="lname"><br>
  <label for="username">Username</label><br>
  <input type="text" name="username"><br>
  <label for="password">Password</label><br>
  <input type="password" name="password"><br>
  <label for="email">Email</label><br>
  <input type="text" name="email"><br><br>
  <input type="submit">
</form>
</div>

</center>